/*   
Customize the appearance of Wordpress login page
*/

/* login logo */

.login h1 a {
  background: url(../img/login-logo.png) no-repeat top center;
  width: 326px;
  height: 67px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block; 
}

/* login form */

form {
  margin-left: 8px;
  padding: 26px 24px 46px;
  font-weight: normal;
  background: white;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  box-shadow: none; 
}

body form .input {
  font-weight: 200;
  font-size: 24px;
  width: 97%;
  padding: 3px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #E5E5E5;
  background: #FBFBFB;
  outline: none;
  box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2); 
}

/* lost password & back to blog link */

.login #nav a, .login #backtoblog a {
  color: #A7A7A7 !important;
  text-decoration: none;
}

/* lost password & back to blog link hover */

.login #nav a:hover, .login #backtoblog a:hover {
  color: #777777 !important;
  text-decoration: none;
}

/* log in button */

.wp-core-ui .button-primary {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  background:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:none;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:14px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
  background:none;
  border:none;
  color:#777777;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-shadow:1px 1px 0px #ffffff;
}

.wp-core-ui .button-primary:active {
  position:relative;
  top:1px;
  border:none;
}

/* retina login logo */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
/*  .login h1 a {
    background: url(../img/login-logo@2x.png) no-repeat top center;
  } */
}